/* Selector para el contenedor principal del colaborador */
.colaborador {
    width: 280px;
    margin-bottom: 24px;
    position: relative;
}

/* Selector para el encabezado del colaborador que contiene la foto */
.colaborador .encabezado {
    background-color: #f0f0f0;
    border-radius: 10px 10px 0 0;
}

/* Selector para la imagen del colaborador dentro del encabezado */
.colaborador img {
    width: 100px;
    border-radius: 50%;
    position: relative;
    bottom: -50px;
}

/* Selector para la sección de información del colaborador */
.colaborador .info {
    background: #FFFFFF;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.08);
    border-radius: 0 0 10px 10px;
    padding-top: 90px;
    padding-bottom: 40px;
    min-height: 100px;
    font-family: "Monserrat", sans-serif;
}

/* Selector para el nombre del colaborador dentro de la sección de información */
.colaborador .info h4 {
    color: #6278F7;
    font-size: 18px;
    line-height: 22px;
    font-weight: bold;
    margin-bottom: 8px;
}

/* Selector para el puesto del colaborador dentro de la sección de información */
.colaborador .info h5 {
    color: #212121;
    font-size: 18px;
    padding: 0 24px;
    line-height: 22px;
    font-weight: 400;
    margin: 0;
}

/* Selector para el icono de eliminación */
.eliminar {
    position: absolute;
    right: -15px;
    top: -15px;
}

.eliminar:active {
    transform: scale(0.95);
}

svg:active {
    transform: scale(0.95);
}

@media (max-width: 599px) {
    .colaborador {
        width: 100%;
    }

    .colaborador img {
        width: 80px;
        bottom: -40px;
    }

    .colaborador .info h4 {
        font-size: 18px;
    }

    .colaborador .info h5 {
        font-size: 16px;
    }
}