/* Estilo para el contenedor principal del formulario */
.formulario {
    display: flex;
    justify-content: space-between;
    margin: 80px 100px;
    flex-wrap: wrap;
    gap: 50px;
}

/* Estilo para cada formulario dentro del contenedor .formulario */
.formulario form {
    max-width: 80%;
    background-color: #F7F7F7;
    box-shadow: 15px 20px 35px 15px #00000014;
    padding: 5% 10%;
    flex: 1;
}

/* Estilo para los títulos (h2) dentro del contenedor .formulario */
.formulario h2 {
    font-size: 32px;
    font-weight: 400;
    color: #212121;
}

@media (min-width: 600px) and (max-width: 1024px) {
    /* Estilos específicos para tablets */
    .formulario{
        display: flex;
        flex-direction: column;
        width: 100%;
        height: auto;
        margin: 0;
        padding: 20px 20px;

    }

    .formulario form{
        max-width: 100%;
        height: auto;
    }
}

@media (max-width: 599px) {
    /* Estilos específicos para celulares */
    .formulario{
        display: flex;
        flex-direction: column;
        width: 100%;
        height: auto;
        margin: 0;
        padding: 20px 20px;

    }

    .formulario form{
        max-width: 100%;
        height: auto;
        padding: 20px 20px;
    }
    .boton{
        width: 100%;
    }

    
}