/* Selector para el botón */
.boton {
    background-color: #6278F7;
    border-radius: 10px;
    font-weight: 700;
    font-family: "Montserrat", sans-serif;
    padding: 24px 32px;
    border: none;
    color: white;
    margin: 32px 0;
    cursor: pointer; 
}

/* Selector para el estado hover del botón */
.boton:hover{
    color: #95FFD4;
}